<ion-view view-title="Verificar {{ title }}">
	<ion-content>
		<img class="image-center" src="img/icon.jpg"> 

		<label class="item item-input">
			<span class="input-label">Digite a senha</span>
			<input type="text" ng-model="form.senha" placeholder="senha">
		</label>

		<h4 class="text-center medium-space-bottom"><a href="">Esqueci a senha</a></h4>

		<button class="button button-outline button-full button-balanced" ng-click="verificar()">
		Prosseguir
		</button>
	</ion-content>
</ion-view>